
@font-face {
  font-family: 'NirmalaUI';
  src: url('../fonts/NirmalaUI.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NirmalaUI.woff') format('woff'),
  url('../fonts/NirmalaUI.ttf')  format('truetype'),
  url('../fonts/NirmalaUI.svg#NirmalaUI') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NirmalaUI-Bold';
  src: url('../fonts/NirmalaUI-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NirmalaUI-Bold.woff') format('woff'),
  url('../fonts/NirmalaUI-Bold.ttf')  format('truetype'),
  url('../fonts/NirmalaUI-Bold.svg#NirmalaUI-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MicrosoftPhagsPa-Bold';
  src: url('../fonts/MicrosoftPhagsPa-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MicrosoftPhagsPa-Bold.woff') format('woff'),
  url('../fonts/MicrosoftPhagsPa-Bold.ttf')  format('truetype'),
  url('../fonts/MicrosoftPhagsPa-Bold.svg#MicrosoftPhagsPa-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'MicrosoftPhagsPa';
  src: url('../fonts/MicrosoftPhagsPa.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MicrosoftPhagsPa.woff') format('woff'),
  url('../fonts/MicrosoftPhagsPa.ttf')  format('truetype'),
  url('../fonts/MicrosoftPhagsPa.svg#MicrosoftPhagsPa') format('svg');
  font-weight: normal;
  font-style: normal;
}
